main > article {
  padding: 0;
  grid-column-gap: 0;
}

main > article > div:first-of-type {
  padding: 2rem;
}

.login-image {
  background-color: #374956;
  background-image: url(https://images.unsplash.com/photo-1677658990177-cb9d1a5af165?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-position: center;
  background-size: cover;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.form-header button {
  font-size: 2rem;
  border: 0;
  box-shadow: none !important;
}

.form-header button :focus {
  border: 0;
  box-shadow: none !important;
}
