.search-bar {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;
}

.back-button {
  position: absolute;
  left: 0;
}

.search-bar > input {
  max-width: 500px;
}
